.button {
    background: $blue;
    color: white;
    border: none;
    display: inline-block;
    line-height: 1;
     text-decoration: none;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}
.button--link{
    background: none;
}
.button--secondary {
    background: #888;
}